

  body {
    background-color:lightgrey;
    font-family: arial;
  }  
  
  h1 {
    color:rgb(61, 5, 190);
    font-family:verdana;    
  } 

  h2 {
    color:rgb(130, 22, 106);
    font-family:verdana;    
  } 
  
  p {
    color:rgb(0, 0, 0)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.burger {
  padding: 5px;
  margin-right: 30px;
  margin-left: 25px;
}

.boxA #header_background_div {
  background-image: url("./img/bar-header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  }

.boxA #header_text {
  text-align-last: center;
  float: center;
  position: absolute;
  top: 5%;
  left: 9%;
  }


.boxB{
  background-color: black;
  color: #ff5500;
  border: 0.5px dashed black;
}

.boxC{
  border: 1px dashed black;
}